.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid red;
}

.box {
  min-height: 120px;
  width: 120px;
  background-color: #03a9f4;
}

.flexcolumn {
  display: inline-flex;
  flex-direction: column;
}
