.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid red;
}

.box {
  min-height: 120px;
  width: 120px;
  background-color: #03a9f4;
}

/* flexdirction */
.flexcolumn {
  display: flex;
  flex-direction: column;
}

.flexcolumnreverse {
  display: flex;
  flex-direction: column-reverse;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexrowReverse {
  display: flex;
  flex-direction: row-reverse;
}

/* Flexwrap */
.flexwrap {
  display: flex;
  flex-wrap: wrap;
}
.flexwrapreverse {
  display: flex;
  flex-wrap: wrap-reverse;
}
.flexnowrap {
  display: flex;
  flex-wrap: nowrap;
}
