.praticeBody {
  padding-top: 20px;
}

.list > ul > li {
  display: inline;
  margin: 1px;
}
.blackelement {
  background-color: antiquewhite;
  text-transform: uppercase;
}
.inlineelement {
  background-color: antiquewhite;
  text-transform: uppercase;
}

.positionStatic {
  color: black;
  background-color: aqua;
  padding: 20px;
  border: 1px solid #ffffff;
  font-weight: bold;
  position: static;
  left: 20px;
  top: 100px;
}
.positionRelative {
  color: black;
  background-color: aqua;
  padding: 20px;
  border: 1px solid #ffffff;
  font-weight: bold;
  position: relative;
  left: 20px;
  top: 100px;
}

.positionInital {
  color: black;
  background-color: aqua;
  padding: 20px;
  border: 1px solid #ffffff;
  font-weight: bold;
  position: initial;
  left: 20px;
  top: 100px;
}
.positionAbsolute {
  color: black;
  background-color: aqua;
  padding: 20px;
  border: 1px solid #ffffff;
  font-weight: bold;
  position: absolute;
  left: 20px;
  top: 100px;
}
.positionFixed {
  color: black;
  background-color: aqua;
  padding: 20px;
  border: 1px solid #ffffff;
  font-weight: bold;
  position: fixed;
  left: 20px;
  top: 150px;
}

.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.gridTag {
  display: grid;
  /*  dev tools click grid */
  grid: 70px / auto auto auto auto;
  grid-gap: 10px;
  padding-top: 90px;
  align-items: baseline;
  padding-bottom: 36px;
}
.gridAlign {
  border: 1px solid #ffffff;
  background-color: #2196f3;
  padding: 10px;
}

.navPartice {
  /* border: 1px solid #000000; */
  display: grid;
  grid: 73px / auto auto;
  padding-top: 30px;
  align-items: baseline;
  justify-content: space-around;
  align-content: space-between;
  background-color: #bbdefb;
}
.navContent {
  color: #000000;
}

.navlist > li {
  color: #000000;
  display: inline;
  margin: 27px;
}
.imageAvater {
  border-radius: 41%;
  height: 41px;
  width: 42px;
}
.navAnchor {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
.navAnchor:hover {
  color: rgb(255, 235, 59);
  border: 1px solid red;
  border-radius: 10%;
  padding: 5px;
  cursor: pointer;
}

.psudoElement::after {
  content: " Good Morning";
}
.psudoElement::before {
  content: "Hello ";
}
